<ul class="card-list">
  @for (card of cards; track card) {
    <li class="card">
      @if (!card.ngx) {
        <img class="card-img" [src]="card.previewImg">
      }
      @if (card.ngx) {
        <img class="card-img" [src]="card.previewImg" [ngxBrokenImg]="card.customPlaceholder">
      }
      <div class="card-body">
        <h5 class="card-title">{{card.title}}</h5>
        <p class="card-description">{{card.description}}</p>
        <p class="card-update">{{card.update}}</p>
      </div>
    </li>
  }
</ul>
